@import nib

body
	background #222
	color #aaa
	margin 0
	padding 0
	font 1em Play

	*
		position relative

#game
		width 980px
		height 600px
	canvas
		background black

#ui
	position absolute
	top 0
	right 0
	bottom 0 
	left 0

#console
	background rgba(2,2,2,0.35)
	width 400px
	height 100px
	border 1px solid rgba(0,255,255,0.3)
	border-radius 4px
	box-shadow 0 0 5px 1px rgba(1,1,1,0.5) inset
	font-size 90%
	position absolute
	bottom 1px
	margin 10px

	ul
		position absolute
		top 0 
		right 0 
		bottom 0 
		left 0
		overflow auto
		margin 10px
		padding 0
		display block

		li
			cursor default
			transition color 100ms
			display block
			margin 0
			padding 0
			color rgba(0,255,255,0.5)
			&:hover
				color cyan
