@import nib

// easing
// Cubic
easeInCubic = cubic-bezier(0.550, 0.055, 0.675, 0.190)
easeOutCubic = cubic-bezier(0.215, 0.610, 0.355, 1.000)
easeInOutCubic  = cubic-bezier(0.645, 0.045, 0.355, 1.000)

// Circ
easeInCirc = cubic-bezier(0.600, 0.040, 0.980, 0.335)
easeOutCirc = cubic-bezier(0.075, 0.820, 0.165, 1.000)
easeInOutCirc = cubic-bezier(0.785, 0.135, 0.150, 0.860)

// Expo
easeInExpo = cubic-bezier(0.950, 0.050, 0.795, 0.035)
easeOutExpo = cubic-bezier(0.190, 1.000, 0.220, 1.000)
easeInOutExpo = cubic-bezier(1.000, 0.000, 0.000, 1.000)

// Quad
easeInQuad = cubic-bezier(0.550, 0.085, 0.680, 0.530)
easeOutQuad = cubic-bezier(0.250, 0.460, 0.450, 0.940)
easeInOutQuad = cubic-bezier(0.455, 0.030, 0.515, 0.955)

// Quart
easeInQuart = cubic-bezier(0.895, 0.030, 0.685, 0.220)
easeOutQuart = cubic-bezier(0.165, 0.840, 0.440, 1.000)
easeInOutQuart  = cubic-bezier(0.770, 0.000, 0.175, 1.000)

// Quint
easeInQuint = cubic-bezier(0.755, 0.050, 0.855, 0.060)
easeOutQuint = cubic-bezier(0.230, 1.000, 0.320, 1.000)
easeInOutQuint  = cubic-bezier(0.860, 0.000, 0.070, 1.000)

// Sine
easeInSine = cubic-bezier(0.470, 0.000, 0.745, 0.715)
easeOutSine = cubic-bezier(0.390, 0.575, 0.565, 1.000)
easeInOutSine = cubic-bezier(0.445, 0.050, 0.550, 0.950)

// Back
easeInBack = cubic-bezier(0.600, -0.280, 0.735, 0.045)
easeOutBack = cubic-bezier(0.175,  0.885, 0.320, 1.275)
easeInOutBack = cubic-bezier(0.680, -0.550, 0.265, 1.550)

offset(t,r,b,l)
  top t
  right r
  bottom b
  left l

// keyframes
@keyframes showmenu
  from
    transform scaleY(0)
  to
    transform scaleY(1)

@keyframes hidemenu
  from
    transform scaleY(1)
  to
    transform scaleY(0)

@keyframes unit_menu
  from
    transform translateX(200px)
    opacity 0
  to
    transform translateX(0)
    opacity 1

@keyframes pop
  from
    transform scale(0,0)
    opacity 0.5

  to
    transform scale(1,1)
    opacity 1

@keyframes unit_menu_out
  from
    transform translateX(0)
    opacity 1
  to
    
    transform translateX(200px)
    opacity 0

@keyframes pop_out
  from
    transform scale(1,1)
    opacity 1
  to
    transform scale(0,0)
    opacity 0.5

@keyframes cancel_animate
  from
    transform translateY(-100px)
  to
    transform translateY(0px)

@keyframes endgame_bg
  from
    opacity 0
  to
    opacity 1
    box-shadow 0 0 800px 1em black inset

@keyframes endgame_herald
  from
    opacity 0
    transform scaleX(0)
  to
    opacity 1
    transform scaleX(1)

@keyframes endgame_title
  0%
    transform scale(3,0)
    text-shadow none
    opacity 0
  20%
    opacity 1
  75%
    transform scaleY(1,1)
    text-shadow 0 0 10px #0ff
  75%
    opacity 1
  80%
    opacity 0.75
  83%
    opacity 1
  100%
    text-shadow 0 0 30px #0fe

// selectables
.unselectable
  user-select: none

.sprite
  background top left no-repeat url(../images/ui_menu.png)

.button
  @extend .unselectable
  cursor url(../images/cursor_action.png) 10 9
  text-transform uppercase

.hidden
  visibility hidden

.modal
  &.active
  &.hidden
    visibility visible

  &.active
    animation showmenu easeOutCirc 400ms

  &.hidden
    animation hidemenu easeInCirc 100ms
    transform scale(3,0)

body
  background black
  color #aaa
  margin 0
  padding 0
  font 1em Play
  color white
  -webkit-touch-callout none
  -webkit-tap-highlight-color transparent

  *
    position relative
    backface-visibility hidden

#game
  width 1024px
  height 768px 
  overflow hidden
  position absolute
  background black
  background-image url(../images/background_mars_hd.png)
  top 0
  left 0

  cursor:  url(../images/cursors.png)

  &.move
    cursor: url(../images/cursor_move.png) 20 20

  canvas

#ui
  /**
  position absolute
  top 0
  right 0
  bottom 0 
  left 0
  /**/
  position auto

#console
  background rgba(2,2,2,0.35)
  width 400px
  height 100px
  border 1px solid rgba(0,255,255,0.3)
  border-radius 4px
  box-shadow 0 0 5px 1px rgba(1,1,1,0.5) inset
  font-size 90%
  position absolute
  bottom 1px
  margin 10px
  transition 500ms 20ms easeInOutQuint

  &.hidden
    visibility: visible
    transform translateY(120px)

  ul
    position absolute
    top 0 
    right 0 
    bottom 0 
    left 0
    overflow auto
    margin 10px
    padding 0
    display block

    li
      cursor default
      transition color 100ms
      display block
      margin 0
      padding 0
      color rgba(0,255,255,0.5)
      &:hover
        color cyan

#unit-menu
  @extend .modal
  width = 242px
  height = 86px
  width width
  height height
  margin-left width * -0.5
  margin-top height * -0.5
  top 120px
  //left 600px
  right 50px
  font-size 12px
  text-transform uppercase
  color white
  position absolute
  z-index 1

  .move
  .act
  .skip
    @extend .button
    display inline-block
    width 99px
    height 0
    padding-top 86px
    line-height 46px
    overflow hidden
    position absolute
    background top left no-repeat
    background-image url(../images/unit_menu.png)
    top 0
    left 0
    opacity 0.7

    &:hover
      opacity 1

  .act
    background-position 0 -86px
    top -43px
    left 73px

  .skip
    background-position 0 -172px
    left 144px

#cancel-button
  @extend .button
  width 98px
  height 0
  overflow hidden
  padding-top 85px
  right: 35px
  top 35px
  background url(../images/unit_menu.png) no-repeat
  background-position 0px -259px
  color white
  z-index 1
  position absolute
  opacity 0.6
  
  &.active
    animation cancel_animate 400ms easeInOutCirc 0ms backwards

  &:hover
    opacity 1
  

#top-vignette
  background rgba(1,1,1,0.5)
  height 150px
  position absolute
  top 1px
  left 0
  right 0
  transition 400ms easeInOutQuint
  &.hidden
    transform translateY(-120px)

#confirm-action
  @extend .sprite
  @extend .modal
  width 92px
  height 69px
  background-position 0px -230px
  position absolute
  margin-left -33px
  margin-top -25px

  .button
    @extend .sprite
    position absolute
    text-indent 100em
    width 20px
    height 20px
    z-index 2
    transition 400ms easeOutQuint
    transform scale(1.3,1.3)
    &:hover
      transform scale(1,1)

  .confirm
    width 45px
    height 39px
    top 10px
    left 10px
    background-position -99px -229px

  .cancel
    width 29px
    height 26px
    top 36px
    left 54px
    background-position -107px -272px

#curtain
  position absolute
  z-index 99
  top 0
  left 0
  right 0
  background rgba(1,1,1,0.95)
  transition 1000ms

  curtain_margin = 383px

  .cover
    background url(../images/curtain.png) top left no-repeat
    background-color black
    height 383px
    width 100%
    position absolute
    transition 900ms 400ms easeInOutQuint

  .text
    @extend .unselectable
    position absolute
    background url(../images/curtain.png) top left no-repeat
    background-position 0 -766px
    width 383px
    height 56px
    z-index 99
    top curtain_margin
    left 50%
    margin-left -191px
    margin-top -26px
    text-align center
    line-height 53px
    text-transform uppercase
    text-shadow 0 0 10px cyan
    transition 400ms

  .top
    margin: 0

  .bottom
    margin-top: curtain_margin
    background-position 0 -383px

  &.hidden

    visibility: visible

    .top
      transform translateY(-383px)
    .bottom
      transform translateY(383px)
    .text
      visibility hidden
      transform scaleY(0)

#command-list
  @extend .modal
  width 180px
  position absolute
  font-size 12px

  .title
    text-transform uppercase
    font-weight bold
    font-size 12px
    color #0cc8c3
    color white
    padding 8px 0 8px 0
    background rgba(1,1,1,0.8)
    display block
    text-indent 15px
    font-family 'Orbitron'

  ul
    background rgba(1,1,1,0.65)
    border-top 3px solid #0cc8c3
    border-bottom 3px solid #0cc8c3
    display block
    margin 0
    padding 5px

    li
      margin 0
      padding 0
      display block
      border 1px solid #0cc8c3
      color rgba(200,255,250,0.75)
      background rgba(13, 45, 48, 0.5)
      text-transform uppercase
      font-weight bold
      padding 7px 0 7px 0
      text-indent 10px
      box-shadow 0px 2px 4px black inset
      transition 200ms 
      position relative

      &.insufficient
        opacity: 0.3
        .cost
          color: white

      &.insufficient:hover
        color inherit
        background inherit
        box-shadow none
        opacity 0.3

      span
        //text-shadow 0 0 5px rgba(0,255,250,0.75)

      .cost
        position absolute
        top 5px
        right 5px
        color #ffba00

      &:hover
        color rgba(255,255,255,0.8)
        background rgba(20, 50, 60, 1)
        box-shadow 0 1px 3px rgba(5,255,105,0.25) inset

        span
          //text-shadow 0 0 5px rgba(0,255,250,0.75)

  .cancel
    background-color rgba(5,5,5,0.5)
    font-size inherit
    padding 5px
    margin 5px
    border 1px solid rgba(255,2,2,1)
    transition 400ms

    &:hover
      background-color rgba(255,5,5,0.5)


///////////////////////////////////////////////////
// Unit Info
///////////////////////////////////////////////////
#unit-info-you
  position absolute
  top 0
  left 0

.unit_info
  position absolute
  top 0
  left 0
  width 400px
  height 130px
  margin 25px
  z-index 0

  .stats
    position absolute
    left 95px
    top 0px
    right 0px
    color #9cc

    h4.unit_name
      font-family 'Orbitron'
      font-weight bold
      font-size 18px
      text-shadow 0 0 10px rgba(0,255,255,1)
      text-transform uppercase
      margin 0
      padding 0
      line-height inherit
      color white
      width auto
    
    .roles
      font-family 'Play'
      font-weight bold
      text-transform uppercase
      font-size 14px

.unit_info .gauge
  position relative
  height 15px
  margin-top 5px

  .name, .values
    font-size 14px
    font-family 'Play'
    text-transform uppercase
    font-weight bold

  .name
    position absolute
    z-index 2
    color white
    text-shadow 0 1px 1px black
    left 5px
    top -1px

  .bar
    position absolute
    bottom: 0
    left 0
    .total, .value
      width 175px
      border-radius 5px
    .total
      width 165px
      height 12px
      background white
      opacity 0.5
    .value
      position absolute
      top -3px
      left: 0
      background white
      height 15px
      z-index 1
  .values
    position absolute
    left 175px
    top 0
    margin-left 10px
    text-transform uppercase
    .total
      opacity 0.5
  
.unit_info > .avatar
  background url(../images/portraits.png)
  background-position -9999px -9999px
  position absolute
  top 0
  left 0
  width 83px
  height 86px

  &.marine
  &.lemurian_marine
    background-position 0 0

.unit_info
  .gauge .bar
    .value, .total
      background top left url(../images/patterns_gauges.png) repeat-x

  .gauge.energy
    .bar
      .total, .value
        background-position 0 -15px

.active > .unit_info
  easing = easeInOutCirc
  timing = 300ms
  .unit_name
    animation unit_menu timing easing 0ms backwards
  .roles
    animation unit_menu timing easing 50ms backwards
  .health
    animation unit_menu timing easing 100ms backwards
  .energy
    animation unit_menu timing easing 150ms backwards
  .avatar
    animation pop timing easing 200ms backwards

/**
.hidden  > .unit_info
  easing = easeInOutCirc
  timing = 500ms
  .unit_name
    animation unit_menu_out timing easing 100ms forwards
  .roles
    animation unit_menu_out timing easing 150ms forwards
  .health
    animation unit_menu_out timing easing 200ms forwards
  .energy
    animation unit_menu_out timing easing 250ms forwards
  .avatar
    animation pop_out timing easing 250ms forwards
/**/


///////////////////////////////////////////////////
// Game Over
///////////////////////////////////////////////////

#game-over

  position absolute
  top 0
  right 0
  bottom 0
  left 0
  box-shadow 0 0 125px 125px rgba(1,1,1,0.5) inset

  h2.title
    font-family "Orbitron", sans-serif
    font-size 24px
    text-align center
    //background rgba(1,1,1,0.9)
    box-shadow 0 0 40px 40px rgba(1,1,1,0.9) inset
    padding 30px 0 30px 0
    position absolute
    top 100px
    left 0
    right 0

  &.success
    h2.title
      color #0c0

  &.failure
    h2.title
      color #c00


///////////////////////////////////////////////////
// Disconnect Modal
///////////////////////////////////////////////////
#disconnected
  z-index 99
  background rgba(1,1,1,0.59)
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  text-align center

  h2
    font-family "Orbitron"
    font-size 24px
    font-weight bold
    display block
    color white
    margin-top 200px
    background rgba(1,1,1,0.55)
    padding 25px

  .confirm.button
    font-family "Play"
    font-size 18px
    font-weight bold
    color white
    display inline-block
    background red
    padding 15px
    transition 200ms easeInOutQuint

    &:hover
      transform scale(1.2,1.2)

///////////////////////////////////////////////////
// End game
///////////////////////////////////////////////////
#endgame
  background rgba(1,1,1,0.57)
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  text-align center
  box-shadow 0 0 800px 1em black inset

  &.active
    animation endgame_bg 400ms linear 0ms backwards

    .herald
      animation endgame_herald 1000ms easeInOutBack 400ms backwards

    .title
      animation endgame_title 1000ms easeInOutQuint 800ms backwards

    .sub
      animation endgame_title 1000ms easeInOutQuint 1000ms backwards



  h2
    font-size 30px
    font-weight black
    text-transform uppercase
    font-family "Orbitron"
    position absolute
    width = 800px
    width width
    left 50%
    margin-left width * 0.5 * -1
    text-shadow 0 0 30px #0fe

    &.title
      top 300px
      margin-top -30px
      z-index 1
      font-weight 900

    &.sub
      top 300px
      margin-top 20px
      z-index 1
      font-weight 300

  .herald
    position absolute
    width = 442px
    height = 358px
    width width
    height height
    left 50%
    top 300px
    margin-left width * 0.5 * -1
    margin-top height * 0.5 * -1
    background url(../images/herald.png) top left no-repeat
