extends layout
append head
  script
    window.onload = function () {
      var unit_info = document.querySelector('#unit-info-you');
      var healthbar = unit_info.querySelector(".health > .background > .bar")
      unit_info.className = "";
      document.querySelector("#curtain").className =  "hidden";
      document.querySelector("#game-over").className = "failure";
      healthbar.style.webkitTransform = 'scaleX(0.1)';
    }
