extends layout
append head
  script
    window.onload = function () {
      var unit_info = document.querySelector('#unit-info-you');
      var healthbar = unit_info.querySelector(".health > .background > .bar")
      healthbar.style.webkitTransform = 'scaleX(0.1)';
    }
