<div id="game">
  <canvas></canvas>
  <div id="mainUi">
    <div id="cancelButton">Cancel Action</div>
    <div id="turnList">
      <h4>Turn List</h4>
      <ul class="logs">
      </ul>
    </div>
    <div id="unitInfo">
      <div class="portrait"></div>
      <div class="name"></div>
      <div class="health gauge">
        <div class="value"></div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
      <div class="energy gauge">
        <div class="value"></div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
      <div class="action gauge">
        <div class="value"></div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
      <div class="turn gauge">
        <div class="value"></div>
        <div class="bar"></div>
        <div class="background"></div>
      </div>
    </div>
    <div id="commandList" class="hidden">
      <h4 class="title">Command List</h4>
      <ul class="list">
        <li>
        <span class="index">1</span>
        <span class="command name">pulse rifle shot</span>
        <span class="indicator"></span>
        </li>
        <li>
        <span class="index">2</span>
        <span class="command name">pulse rifle shot</span>
        <span class="indicator"></span>
        </li>
        <li>
        <span class="index">3</span>
        <span class="command name">pulse rifle shot</span>
        <span class="indicator"></span>
        </li>
      </ul>
      <div class="cancel button">Cancel</div>
    </div>
    <div id="actionMenu">
      <div class="cancel"></div>
      <div class="move"></div>
      <div class="act"></div>
      <div class="skip"></div>
    </div>
    <div id="actionConfirm">
      <div class="cancel button"></div>
      <div class="confirm button"></div>
    </div>
  </div>
</div>

<script id="tpl-turnlist" type="text/template">
  <li>
    <span class="unit name"></span>
    <a class="color code"></a>
  </li>
</script>
