html
  block head
    title HTML5 prototype game yo!
    link(rel="icon", type="image/png", href="images/favico.png")
    link(rel="stylesheet", href="stylesheets/site.css")
  block body
    #game
      canvas Your browser doesn't support canvas. Download Chrome, Firefox, or Safari to play this game.
      #ui
        #console
          ul.logs

