html
  block head
    block title HTML5 prototype game yo!
    link(rel="icon", type="image/png", href="favico.png")
    <link rel="stylesheet" href="stylesheets/site.css" type="text/css" media="screen, mobile" title="main" charset="utf-8">
  block body
    #game
      canvas Your browser doesn't support HTML5. Download Chrome, Firefox, or Safari to play this game.
      #console
        ul.logs
      #unit-menu.hidden
        .move Move
        .act Act
        .skip Skip
      #cancel-button.hidden
        .button Cancel
        .icon
      #confirm-action.hidden
        .confirm.button Confirm
        .cancel.button Cancel
      #top-vignette.hidden
      #curtain.hidden
        .text Connecting...
        .top.cover
        .bottom.cover
      #command-list.hidden
        .title command list
        ul
        .cancel.button Cancel

      #game-over.hidden
        h2.title You have been defeated. Joke!

      #unit-info-you.hidden
        .unit_info
          .avatar
          .stats
            h4.unit_name Unit Name
            .health.gauge
              .name HP
              .background
                .bar
              .numeric
                span.value 300
                span.total /300
            .energy.gauge
              .name EP
              .background
                .bar
              .numeric
                span.value 100
                span.total /100
